<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391837711816-epqml59ko2gkm58eebcik3vt8pmup6js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391837711816-epqml59ko2gkm58eebcik3vt8pmup6js</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391837711816-54o4ebd0qiavjvponmfr1bev521mvlvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTgyMxF4fd5J9XXsTCjN4Ub485q5zbrAU</string>
	<key>GCM_SENDER_ID</key>
	<string>391837711816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twowatch.app</string>
	<key>PROJECT_ID</key>
	<string>watch-8f60a</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-8f60a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391837711816:ios:92de288b5c5ad9e97394fd</string>
</dict>
</plist>